* {
	padding: 0;
	margin: 0;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url('./img.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	border: 0.08rem solid white;
	box-shadow: 0 0.3rem 7px 1px black;
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 2rem;
	height: fit-content;
}
.header {
	font-size: 3rem;
	color: white;
	font-weight: 600;
}
.count {
	font-size: 8rem;
	color: hsl(120, 100%, 25%);
	font-weight: 600;
}
button {
	display: block;
	background: hsl(229, 100%, 20%);
	color: white;
	border: none;
	font-size: 1.1rem;
	border-radius: 0.3rem;
	padding: 0.5rem;
	margin: 1rem auto;
	box-shadow: 0 0.1rem 7px 2px black;
	cursor: pointer;
	transition: transform 0.3s;
	text-transform: uppercase;
}

button:hover {
	filter: brightness(170%);
	transform: rotateY(20deg);
}
footer {
	padding: 2rem;
	padding-bottom: 0.3rem;
}
footer a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-weight: bold;
	transition: filter 0.4s;
}

footer a:hover {
	filter: invert(100%);
}

/* aside {
   width:70%;
   padding: 1rem 1rem 2rem 1rem;
   background-color: wheat;
   display: flex;
   flex-direction: column;
   align-items: center;
   visibility: hidden;
   position: fixed;
   z-index: 1;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.aside-header {
   color: hsl(240, 100%, 30%);
}
aside h2 {
   max-width: 25ch;
   text-align: center;
   margin: 1rem;
}
aside input {
   width: 3rem;
   padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.hide {
   visibility: hidden;
}
.show {
   visibility: visible;
}
#forward,#backward {
   margin-bottom: 0.7rem;
}
label {
   font-size: 1.2rem;
} */
